* {
  box-sizing: border-box;
}

html,
body,
canvas {
  width: 100%;
  min-height: 100vh;
  max-width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
}

.controls {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: black;
  opacity: 0.5;
  color: white;
  padding: 5px;
}

p {
  margin: 5px;
  font-family: monospace;
  font-size: 12px;
  letter-spacing: 0.75px;
}